<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invitation Email</title>
</head>
<body>
<p>Hello {{recipient}},</p>
<br />
<p>You have been invited by {{sender}} to join {{institution}} as {{role}}.</p>
<p>Please click <a href="{{link}}">here</a> or on the link below to complete the registration process.</p>
<p><small>{{link}}</small></p>
<br />
<p>Best Regards,</p>
<p>Etc.Academy Team</p>
</body>
</html>